body {
    background-image: url('banner.jpg');
	background-repeat: no-repeat;
	background-size: 130%;
}
img {
	width: 80px;
	height: 80px;
	margin-top: 50px;
}
.titulo {
    color:rgb(0, 0, 0);
    font-size:40px;
    font-family: Alacarte;
	padding: 10px;
	display: inline-block;
	position: relative;
	left: -7px;
	top: -26px;
}

#paragrafo {
    color:rgb(0, 0, 0);
    font-size:20px;
	text-align:center;
    font-family:Alacarte;
	transition: background-color 0.5s ease-in-out;
	padding: 10px;
	border-radius: 100px;
	display: inline-block;
	position:relative;
	left: -200px;
	top: -8px;
}

#paragrafo2 {
	color:rgb(0, 0, 0);
    font-size:20px;
	text-align: right;
    font-family :Alacarte;
	transition: background-color 0.5s ease-in-out;
	padding: 10px;
	border-radius: 100px;
	display: inline-block;
	position: relative;
	left: 550px;
	top: -20px;
}
#paragrafo2:hover {
	background-color: #0099ff;
	box-shadow: 0 0 30px #0099ff;

}
#paragrafo3 {
	color:rgb(0, 0, 0);
    font-size:20px;
	text-align: right;
    font-family :Alacarte;
	transition: background-color 0.5s ease-in-out;
	padding: 10px;
	border-radius: 100px;
	display: inline-block;
	position: relative;
	left: 110px;
	top: 24px;
}
#paragrafo3:hover {
	background-color: #0099ff;
	box-shadow: 0 0 30px #0099ff;
}
.formulario {
  width: 220px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #0099ff;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}
.formulario input[type="text"],
.formulario input[type="password"] {
	display:block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
	caret-color: #797979;
	border-radius: 5px;
	border-color: #a0e9ff;
	
}
.formulario input:hover {
	box-shadow: 5px 5px 40px 0px #0099ff;
 	border-color: #a0e9ff;
	
}
.formulario:hover {
  box-shadow: 10px 10px 40px 10px #0099ff;
  border-color: #b8ecfc;
}
nav {
	background-color: #043575;
	position: relative;
	top: -238px;
}
  
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
  }
	
  .menu li {
	position: relative;
	height: 50px;
  }
	
  .menu a {
	display: block;
	text-align: center;
	color: #4e4e4e;
	text-decoration: none;
	padding: 0 10px;
	line-height: 50px;
  }
	
  .menu a:hover {
	background-color: #286bcf00;
	border-radius: 10px;
  }

.dropdown {
	position:absolute;
	cursor: pointer;
	top: 0px;
	right: 0px;
}
.dropdown > a {
	display: flex;
	align-items: center;
	gap: 2px;
	height: 45px;
	color: #4e4e4e;
	
}
.dropdown > a > img {
	position: relative;
	width: 13 13px;
	right: 25px;
	top: -23px;
	transform: scale(0.4);
}
.dropdown:hover .menu {
	opacity: 1;
	visibility: visible;
}
.menu > a {
	font-size: 15px;
	padding: 12px 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu > a:hover {
	background: #f5f5f5;
}
.menu {
	position: absolute;
	top: 40px;
	right: 5px;
	display: grid;
	padding: 8px 0;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	box-shadow: 0px 40px 40px rgb(0, 0, 0 / 6%);
	opacity: 0;
	visibility: hidden;
	transition: 0.25s;
	width: 9rem;
	max-width: 30rem;
}